{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-07-20",
    "endpointPrefix":"proton",
    "jsonVersion":"1.0",
    "protocol":"json",
    "serviceFullName":"AWS Proton",
    "serviceId":"Proton",
    "signatureVersion":"v4",
    "signingName":"proton",
    "targetPrefix":"AwsProton20200720",
    "uid":"proton-2020-07-20"
  },
  "operations":{
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEnvironmentInput"},
      "output":{"shape":"CreateEnvironmentOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "idempotent":true
    },
    "CreateEnvironmentTemplate":{
      "name":"CreateEnvironmentTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEnvironmentTemplateInput"},
      "output":{"shape":"CreateEnvironmentTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"}
      ],
      "idempotent":true
    },
    "CreateEnvironmentTemplateMajorVersion":{
      "name":"CreateEnvironmentTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEnvironmentTemplateMajorVersionInput"},
      "output":{"shape":"CreateEnvironmentTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ]
    },
    "CreateEnvironmentTemplateMinorVersion":{
      "name":"CreateEnvironmentTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEnvironmentTemplateMinorVersionInput"},
      "output":{"shape":"CreateEnvironmentTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ]
    },
    "CreateService":{
      "name":"CreateService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceInput"},
      "output":{"shape":"CreateServiceOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "idempotent":true
    },
    "CreateServiceTemplate":{
      "name":"CreateServiceTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceTemplateInput"},
      "output":{"shape":"CreateServiceTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"}
      ],
      "idempotent":true
    },
    "CreateServiceTemplateMajorVersion":{
      "name":"CreateServiceTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceTemplateMajorVersionInput"},
      "output":{"shape":"CreateServiceTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ]
    },
    "CreateServiceTemplateMinorVersion":{
      "name":"CreateServiceTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceTemplateMinorVersionInput"},
      "output":{"shape":"CreateServiceTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ]
    },
    "DeleteAccountRoles":{
      "name":"DeleteAccountRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountRolesInput"},
      "output":{"shape":"DeleteAccountRolesOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteEnvironment":{
      "name":"DeleteEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEnvironmentInput"},
      "output":{"shape":"DeleteEnvironmentOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteEnvironmentTemplate":{
      "name":"DeleteEnvironmentTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEnvironmentTemplateInput"},
      "output":{"shape":"DeleteEnvironmentTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteEnvironmentTemplateMajorVersion":{
      "name":"DeleteEnvironmentTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEnvironmentTemplateMajorVersionInput"},
      "output":{"shape":"DeleteEnvironmentTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteEnvironmentTemplateMinorVersion":{
      "name":"DeleteEnvironmentTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEnvironmentTemplateMinorVersionInput"},
      "output":{"shape":"DeleteEnvironmentTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteService":{
      "name":"DeleteService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceInput"},
      "output":{"shape":"DeleteServiceOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteServiceTemplate":{
      "name":"DeleteServiceTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceTemplateInput"},
      "output":{"shape":"DeleteServiceTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteServiceTemplateMajorVersion":{
      "name":"DeleteServiceTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceTemplateMajorVersionInput"},
      "output":{"shape":"DeleteServiceTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteServiceTemplateMinorVersion":{
      "name":"DeleteServiceTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceTemplateMinorVersionInput"},
      "output":{"shape":"DeleteServiceTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ],
      "idempotent":true
    },
    "GetAccountRoles":{
      "name":"GetAccountRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccountRolesInput"},
      "output":{"shape":"GetAccountRolesOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetEnvironment":{
      "name":"GetEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEnvironmentInput"},
      "output":{"shape":"GetEnvironmentOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetEnvironmentTemplate":{
      "name":"GetEnvironmentTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEnvironmentTemplateInput"},
      "output":{"shape":"GetEnvironmentTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetEnvironmentTemplateMajorVersion":{
      "name":"GetEnvironmentTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEnvironmentTemplateMajorVersionInput"},
      "output":{"shape":"GetEnvironmentTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetEnvironmentTemplateMinorVersion":{
      "name":"GetEnvironmentTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEnvironmentTemplateMinorVersionInput"},
      "output":{"shape":"GetEnvironmentTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceInput"},
      "output":{"shape":"GetServiceOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetServiceInstance":{
      "name":"GetServiceInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceInstanceInput"},
      "output":{"shape":"GetServiceInstanceOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetServiceTemplate":{
      "name":"GetServiceTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceTemplateInput"},
      "output":{"shape":"GetServiceTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetServiceTemplateMajorVersion":{
      "name":"GetServiceTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceTemplateMajorVersionInput"},
      "output":{"shape":"GetServiceTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetServiceTemplateMinorVersion":{
      "name":"GetServiceTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceTemplateMinorVersionInput"},
      "output":{"shape":"GetServiceTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListEnvironmentTemplateMajorVersions":{
      "name":"ListEnvironmentTemplateMajorVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEnvironmentTemplateMajorVersionsInput"},
      "output":{"shape":"ListEnvironmentTemplateMajorVersionsOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListEnvironmentTemplateMinorVersions":{
      "name":"ListEnvironmentTemplateMinorVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEnvironmentTemplateMinorVersionsInput"},
      "output":{"shape":"ListEnvironmentTemplateMinorVersionsOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListEnvironmentTemplates":{
      "name":"ListEnvironmentTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEnvironmentTemplatesInput"},
      "output":{"shape":"ListEnvironmentTemplatesOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListEnvironments":{
      "name":"ListEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEnvironmentsInput"},
      "output":{"shape":"ListEnvironmentsOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListServiceInstances":{
      "name":"ListServiceInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServiceInstancesInput"},
      "output":{"shape":"ListServiceInstancesOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListServiceTemplateMajorVersions":{
      "name":"ListServiceTemplateMajorVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServiceTemplateMajorVersionsInput"},
      "output":{"shape":"ListServiceTemplateMajorVersionsOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListServiceTemplateMinorVersions":{
      "name":"ListServiceTemplateMinorVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServiceTemplateMinorVersionsInput"},
      "output":{"shape":"ListServiceTemplateMinorVersionsOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListServiceTemplates":{
      "name":"ListServiceTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServiceTemplatesInput"},
      "output":{"shape":"ListServiceTemplatesOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServicesInput"},
      "output":{"shape":"ListServicesOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateAccountRoles":{
      "name":"UpdateAccountRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAccountRolesInput"},
      "output":{"shape":"UpdateAccountRolesOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnvironmentInput"},
      "output":{"shape":"UpdateEnvironmentOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateEnvironmentTemplate":{
      "name":"UpdateEnvironmentTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnvironmentTemplateInput"},
      "output":{"shape":"UpdateEnvironmentTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateEnvironmentTemplateMajorVersion":{
      "name":"UpdateEnvironmentTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnvironmentTemplateMajorVersionInput"},
      "output":{"shape":"UpdateEnvironmentTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateEnvironmentTemplateMinorVersion":{
      "name":"UpdateEnvironmentTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnvironmentTemplateMinorVersionInput"},
      "output":{"shape":"UpdateEnvironmentTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateService":{
      "name":"UpdateService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceInput"},
      "output":{"shape":"UpdateServiceOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateServiceInstance":{
      "name":"UpdateServiceInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceInstanceInput"},
      "output":{"shape":"UpdateServiceInstanceOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictingOperationException"}
      ]
    },
    "UpdateServicePipeline":{
      "name":"UpdateServicePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServicePipelineInput"},
      "output":{"shape":"UpdateServicePipelineOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictingOperationException"}
      ]
    },
    "UpdateServiceTemplate":{
      "name":"UpdateServiceTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceTemplateInput"},
      "output":{"shape":"UpdateServiceTemplateOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateServiceTemplateMajorVersion":{
      "name":"UpdateServiceTemplateMajorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceTemplateMajorVersionInput"},
      "output":{"shape":"UpdateServiceTemplateMajorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateServiceTemplateMinorVersion":{
      "name":"UpdateServiceTemplateMinorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceTemplateMinorVersionInput"},
      "output":{"shape":"UpdateServiceTemplateMinorVersionOutput"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottledException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "AccountRolesDetails":{
      "type":"structure",
      "required":["pipelineServiceRoleArn"],
      "members":{
        "pipelineServiceRoleArn":{"shape":"Arn"}
      }
    },
    "Arn":{
      "type":"string",
      "max":200,
      "min":1
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "ConflictingOperationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "CreateEnvironmentInput":{
      "type":"structure",
      "required":[
        "environmentName",
        "environmentTemplateArn",
        "protonServiceRoleArn",
        "spec",
        "templateMajorVersionId"
      ],
      "members":{
        "description":{"shape":"Description"},
        "environmentName":{"shape":"ResourceName"},
        "environmentTemplateArn":{"shape":"EnvironmentTemplateArn"},
        "protonServiceRoleArn":{"shape":"Arn"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"}
      }
    },
    "CreateEnvironmentOutput":{
      "type":"structure",
      "required":["environment"],
      "members":{
        "environment":{"shape":"EnvironmentSummary"}
      }
    },
    "CreateEnvironmentTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "description":{"shape":"Description"},
        "displayName":{"shape":"DisplayName"},
        "encryptionKey":{"shape":"Arn"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "CreateEnvironmentTemplateMajorVersionInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "description":{"shape":"Description"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "CreateEnvironmentTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMajorVersion"],
      "members":{
        "environmentTemplateMajorVersion":{"shape":"EnvironmentTemplateMajorVersionData"}
      }
    },
    "CreateEnvironmentTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "sourceS3Bucket",
        "sourceS3Key",
        "templateName"
      ],
      "members":{
        "description":{"shape":"Description"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "sourceS3Bucket":{"shape":"S3Bucket"},
        "sourceS3Key":{"shape":"S3Key"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "CreateEnvironmentTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMinorVersion"],
      "members":{
        "environmentTemplateMinorVersion":{"shape":"EnvironmentTemplateMinorVersionSummary"}
      }
    },
    "CreateEnvironmentTemplateOutput":{
      "type":"structure",
      "required":["environmentTemplate"],
      "members":{
        "environmentTemplate":{"shape":"EnvironmentTemplateData"}
      }
    },
    "CreateServiceInput":{
      "type":"structure",
      "required":[
        "branchName",
        "repositoryConnectionArn",
        "repositoryId",
        "serviceName",
        "serviceTemplateArn",
        "spec",
        "templateMajorVersionId"
      ],
      "members":{
        "branchName":{"shape":"GitBranchName"},
        "description":{"shape":"Description"},
        "repositoryConnectionArn":{"shape":"Arn"},
        "repositoryId":{"shape":"RepositoryId"},
        "serviceName":{"shape":"ResourceName"},
        "serviceTemplateArn":{"shape":"ServiceTemplateArn"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"}
      }
    },
    "CreateServiceOutput":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{"shape":"ServiceSummary"}
      }
    },
    "CreateServiceTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "description":{"shape":"Description"},
        "displayName":{"shape":"DisplayName"},
        "encryptionKey":{"shape":"Arn"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "CreateServiceTemplateMajorVersionInput":{
      "type":"structure",
      "required":[
        "compatibleEnvironmentTemplateMajorVersionArns",
        "templateName"
      ],
      "members":{
        "compatibleEnvironmentTemplateMajorVersionArns":{"shape":"EnvironmentTemplateMajorVersionArnList"},
        "description":{"shape":"Description"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "CreateServiceTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMajorVersion"],
      "members":{
        "serviceTemplateMajorVersion":{"shape":"ServiceTemplateMajorVersionData"}
      }
    },
    "CreateServiceTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "sourceS3Bucket",
        "sourceS3Key",
        "templateName"
      ],
      "members":{
        "description":{"shape":"Description"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "sourceS3Bucket":{"shape":"S3Bucket"},
        "sourceS3Key":{"shape":"S3Key"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "CreateServiceTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMinorVersion"],
      "members":{
        "serviceTemplateMinorVersion":{"shape":"ServiceTemplateMinorVersionSummary"}
      }
    },
    "CreateServiceTemplateOutput":{
      "type":"structure",
      "required":["serviceTemplate"],
      "members":{
        "serviceTemplate":{"shape":"ServiceTemplateData"}
      }
    },
    "DeleteAccountRolesInput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAccountRolesOutput":{
      "type":"structure",
      "members":{
        "accountRoleDetails":{"shape":"AccountRolesDetails"}
      }
    },
    "DeleteEnvironmentInput":{
      "type":"structure",
      "required":["environmentName"],
      "members":{
        "environmentName":{"shape":"ResourceName"}
      }
    },
    "DeleteEnvironmentOutput":{
      "type":"structure",
      "required":["environment"],
      "members":{
        "environment":{"shape":"EnvironmentSummary"}
      }
    },
    "DeleteEnvironmentTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "templateName":{"shape":"ResourceName"}
      }
    },
    "DeleteEnvironmentTemplateMajorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "DeleteEnvironmentTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMajorVersion"],
      "members":{
        "environmentTemplateMajorVersion":{"shape":"EnvironmentTemplateMajorVersionData"}
      }
    },
    "DeleteEnvironmentTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "minorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "DeleteEnvironmentTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMinorVersion"],
      "members":{
        "environmentTemplateMinorVersion":{"shape":"EnvironmentTemplateMinorVersionSummary"}
      }
    },
    "DeleteEnvironmentTemplateOutput":{
      "type":"structure",
      "required":["environmentTemplate"],
      "members":{
        "environmentTemplate":{"shape":"EnvironmentTemplateData"}
      }
    },
    "DeleteServiceInput":{
      "type":"structure",
      "required":["serviceName"],
      "members":{
        "serviceName":{"shape":"ResourceName"}
      }
    },
    "DeleteServiceOutput":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{"shape":"ServiceSummary"}
      }
    },
    "DeleteServiceTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "templateName":{"shape":"ResourceName"}
      }
    },
    "DeleteServiceTemplateMajorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "DeleteServiceTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMajorVersion"],
      "members":{
        "serviceTemplateMajorVersion":{"shape":"ServiceTemplateMajorVersionData"}
      }
    },
    "DeleteServiceTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "minorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "DeleteServiceTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMinorVersion"],
      "members":{
        "serviceTemplateMinorVersion":{"shape":"ServiceTemplateMinorVersionSummary"}
      }
    },
    "DeleteServiceTemplateOutput":{
      "type":"structure",
      "required":["serviceTemplate"],
      "members":{
        "serviceTemplate":{"shape":"ServiceTemplateData"}
      }
    },
    "DeployedTemplateOutput":{
      "type":"string",
      "max":50000,
      "min":1,
      "sensitive":true
    },
    "DeploymentStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "FAILED",
        "SUCCEEDED",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED",
        "DELETE_COMPLETE"
      ]
    },
    "Description":{
      "type":"string",
      "max":500,
      "min":0,
      "sensitive":true
    },
    "DisplayName":{
      "type":"string",
      "max":100,
      "min":1,
      "sensitive":true
    },
    "EnvironmentArn":{"type":"string"},
    "EnvironmentDetails":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "deploymentStatus",
        "environmentName",
        "environmentTemplateArn",
        "lastDeploymentAttemptTime",
        "lastSuccessfulDeploymentTime",
        "protonServiceRoleArn",
        "templateMajorVersionId",
        "templateMinorVersionId"
      ],
      "members":{
        "arn":{"shape":"EnvironmentArn"},
        "createdAt":{"shape":"Timestamp"},
        "deploymentStatus":{"shape":"DeploymentStatus"},
        "deploymentStatusMessage":{"shape":"StatusMessage"},
        "description":{"shape":"Description"},
        "environmentName":{"shape":"ResourceName"},
        "environmentTemplateArn":{"shape":"EnvironmentTemplateArn"},
        "lastDeploymentAttemptTime":{"shape":"Timestamp"},
        "lastSuccessfulDeploymentTime":{"shape":"Timestamp"},
        "outputs":{"shape":"DeployedTemplateOutput"},
        "protonServiceRoleArn":{"shape":"Arn"},
        "provisionedStacks":{"shape":"ProvisionedStacks"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"}
      }
    },
    "EnvironmentSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "deploymentStatus",
        "environmentName",
        "environmentTemplateArn",
        "lastDeploymentAttemptTime",
        "lastSuccessfulDeploymentTime",
        "protonServiceRoleArn",
        "templateMajorVersionId",
        "templateMinorVersionId"
      ],
      "members":{
        "arn":{"shape":"EnvironmentArn"},
        "createdAt":{"shape":"Timestamp"},
        "deploymentStatus":{"shape":"DeploymentStatus"},
        "deploymentStatusMessage":{"shape":"StatusMessage"},
        "description":{"shape":"Description"},
        "environmentName":{"shape":"ResourceName"},
        "environmentTemplateArn":{"shape":"EnvironmentTemplateArn"},
        "lastDeploymentAttemptTime":{"shape":"Timestamp"},
        "lastSuccessfulDeploymentTime":{"shape":"Timestamp"},
        "protonServiceRoleArn":{"shape":"Arn"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"}
      }
    },
    "EnvironmentTemplateArn":{"type":"string"},
    "EnvironmentTemplateData":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"EnvironmentTemplateArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "displayName":{"shape":"DisplayName"},
        "encryptionKey":{"shape":"Arn"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "recommendedVersion":{"shape":"FullTemplateVersionNumber"},
        "status":{"shape":"TemplateStatus"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "EnvironmentTemplateMajorVersionArn":{"type":"string"},
    "EnvironmentTemplateMajorVersionArnList":{
      "type":"list",
      "member":{"shape":"EnvironmentTemplateMajorVersionArn"}
    },
    "EnvironmentTemplateMajorVersionData":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "majorVersionId",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"EnvironmentTemplateMajorVersionArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "status":{"shape":"TemplateMajorVersionStatus"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "EnvironmentTemplateMajorVersionsList":{
      "type":"list",
      "member":{"shape":"EnvironmentTemplateMajorVersionData"}
    },
    "EnvironmentTemplateMinorVersionArn":{"type":"string"},
    "EnvironmentTemplateMinorVersionDetails":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "majorVersionId",
        "minorVersionId",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"EnvironmentTemplateMinorVersionArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "schema":{"shape":"TemplateSchema"},
        "status":{"shape":"TemplateMinorVersionStatus"},
        "statusMessage":{"shape":"StatusMessage"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "EnvironmentTemplateMinorVersionSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "majorVersionId",
        "minorVersionId",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"EnvironmentTemplateMinorVersionArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "status":{"shape":"TemplateMinorVersionStatus"},
        "statusMessage":{"shape":"StatusMessage"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "EnvironmentTemplateMinorVersionsList":{
      "type":"list",
      "member":{"shape":"EnvironmentTemplateMinorVersionSummary"}
    },
    "EnvironmentTemplatesList":{
      "type":"list",
      "member":{"shape":"EnvironmentTemplateData"}
    },
    "EnvironmentsList":{
      "type":"list",
      "member":{"shape":"EnvironmentSummary"}
    },
    "ErrorMessage":{
      "type":"string",
      "sensitive":true
    },
    "FullTemplateVersionNumber":{
      "type":"string",
      "max":10,
      "min":1,
      "pattern":"^(0|([1-9]{1}\\d*)).(0|([1-9]{1}\\d*))$"
    },
    "GetAccountRolesInput":{
      "type":"structure",
      "members":{
      }
    },
    "GetAccountRolesOutput":{
      "type":"structure",
      "members":{
        "accountRoleDetails":{"shape":"AccountRolesDetails"}
      }
    },
    "GetEnvironmentInput":{
      "type":"structure",
      "required":["environmentName"],
      "members":{
        "environmentName":{"shape":"ResourceName"}
      }
    },
    "GetEnvironmentOutput":{
      "type":"structure",
      "required":["environment"],
      "members":{
        "environment":{"shape":"EnvironmentDetails"}
      }
    },
    "GetEnvironmentTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "templateName":{"shape":"ResourceName"}
      }
    },
    "GetEnvironmentTemplateMajorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "GetEnvironmentTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMajorVersion"],
      "members":{
        "environmentTemplateMajorVersion":{"shape":"EnvironmentTemplateMajorVersionData"}
      }
    },
    "GetEnvironmentTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "minorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "GetEnvironmentTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMinorVersion"],
      "members":{
        "environmentTemplateMinorVersion":{"shape":"EnvironmentTemplateMinorVersionDetails"}
      }
    },
    "GetEnvironmentTemplateOutput":{
      "type":"structure",
      "required":["environmentTemplate"],
      "members":{
        "environmentTemplate":{"shape":"EnvironmentTemplateData"}
      }
    },
    "GetServiceInput":{
      "type":"structure",
      "required":["serviceName"],
      "members":{
        "serviceName":{"shape":"ResourceName"}
      }
    },
    "GetServiceInstanceInput":{
      "type":"structure",
      "required":[
        "serviceInstanceName",
        "serviceName"
      ],
      "members":{
        "serviceInstanceName":{"shape":"ResourceName"},
        "serviceName":{"shape":"ResourceName"}
      }
    },
    "GetServiceInstanceOutput":{
      "type":"structure",
      "required":["serviceInstance"],
      "members":{
        "serviceInstance":{"shape":"ServiceInstanceDetails"}
      }
    },
    "GetServiceOutput":{
      "type":"structure",
      "members":{
        "service":{"shape":"ServiceDetails"}
      }
    },
    "GetServiceTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "templateName":{"shape":"ResourceName"}
      }
    },
    "GetServiceTemplateMajorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "GetServiceTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMajorVersion"],
      "members":{
        "serviceTemplateMajorVersion":{"shape":"ServiceTemplateMajorVersionData"}
      }
    },
    "GetServiceTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "minorVersionId",
        "templateName"
      ],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "GetServiceTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMinorVersion"],
      "members":{
        "serviceTemplateMinorVersion":{"shape":"ServiceTemplateMinorVersionDetails"}
      }
    },
    "GetServiceTemplateOutput":{
      "type":"structure",
      "required":["serviceTemplate"],
      "members":{
        "serviceTemplate":{"shape":"ServiceTemplateData"}
      }
    },
    "GitBranchName":{
      "type":"string",
      "max":200,
      "min":1
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ListEnvironmentTemplateMajorVersionsInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ListEnvironmentTemplateMajorVersionsOutput":{
      "type":"structure",
      "required":["templates"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "templates":{"shape":"EnvironmentTemplateMajorVersionsList"}
      }
    },
    "ListEnvironmentTemplateMinorVersionsInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ListEnvironmentTemplateMinorVersionsOutput":{
      "type":"structure",
      "required":["templates"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "templates":{"shape":"EnvironmentTemplateMinorVersionsList"}
      }
    },
    "ListEnvironmentTemplatesInput":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListEnvironmentTemplatesOutput":{
      "type":"structure",
      "required":["templates"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "templates":{"shape":"EnvironmentTemplatesList"}
      }
    },
    "ListEnvironmentsInput":{
      "type":"structure",
      "members":{
        "environmentTemplateMajorVersionArns":{"shape":"ArnList"},
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListEnvironmentsOutput":{
      "type":"structure",
      "required":["environments"],
      "members":{
        "environments":{"shape":"EnvironmentsList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceInstancesInput":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"},
        "serviceName":{"shape":"ResourceName"}
      }
    },
    "ListServiceInstancesOutput":{
      "type":"structure",
      "required":["serviceInstances"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "serviceInstances":{"shape":"ServiceInstancesList"}
      }
    },
    "ListServiceTemplateMajorVersionsInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ListServiceTemplateMajorVersionsOutput":{
      "type":"structure",
      "required":["templates"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "templates":{"shape":"ServiceTemplateMajorVersionsList"}
      }
    },
    "ListServiceTemplateMinorVersionsInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ListServiceTemplateMinorVersionsOutput":{
      "type":"structure",
      "required":["templates"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "templates":{"shape":"ServiceTemplateMinorVersionsList"}
      }
    },
    "ListServiceTemplatesInput":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceTemplatesOutput":{
      "type":"structure",
      "required":["templates"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "templates":{"shape":"ServiceTemplatesList"}
      }
    },
    "ListServicesInput":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxPageResults"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServicesOutput":{
      "type":"structure",
      "required":["services"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "services":{"shape":"ServicesList"}
      }
    },
    "MaxPageResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "NextToken":{"type":"string"},
    "NotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ProvisionedStackName":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ProvisionedStacks":{
      "type":"list",
      "member":{"shape":"ProvisionedStackName"}
    },
    "RepositoryId":{
      "type":"string",
      "max":200,
      "min":1
    },
    "ResourceAlreadyExistsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ResourceName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[0-9A-Za-z]+[0-9A-Za-z_\\-]*$"
    },
    "S3Bucket":{
      "type":"string",
      "max":255,
      "min":1
    },
    "S3Key":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ServiceArn":{"type":"string"},
    "ServiceDetails":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "serviceName",
        "serviceTemplateArn",
        "spec",
        "status"
      ],
      "members":{
        "arn":{"shape":"ServiceArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "pipeline":{"shape":"ServicePipelineDetails"},
        "serviceName":{"shape":"ResourceName"},
        "serviceTemplateArn":{"shape":"ServiceTemplateArn"},
        "spec":{"shape":"SpecContents"},
        "status":{"shape":"ServiceStatus"},
        "statusMessage":{"shape":"StatusMessage"}
      }
    },
    "ServiceException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true,
      "fault":true
    },
    "ServiceInstanceArn":{"type":"string"},
    "ServiceInstanceDetails":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "deploymentStatus",
        "environmentArn",
        "lastDeploymentAttemptTime",
        "lastSuccessfulDeploymentTime",
        "serviceInstanceName",
        "serviceName",
        "serviceTemplateArn",
        "templateMajorVersionId",
        "templateMinorVersionId"
      ],
      "members":{
        "arn":{"shape":"ServiceInstanceArn"},
        "createdAt":{"shape":"Timestamp"},
        "deploymentStatus":{"shape":"DeploymentStatus"},
        "deploymentStatusMessage":{"shape":"StatusMessage"},
        "environmentArn":{"shape":"EnvironmentArn"},
        "lastDeploymentAttemptTime":{"shape":"Timestamp"},
        "lastSuccessfulDeploymentTime":{"shape":"Timestamp"},
        "outputs":{"shape":"DeployedTemplateOutput"},
        "provisionedStacks":{"shape":"ProvisionedStacks"},
        "serviceInstanceName":{"shape":"ResourceName"},
        "serviceName":{"shape":"ResourceName"},
        "serviceTemplateArn":{"shape":"ServiceTemplateArn"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"}
      }
    },
    "ServiceInstanceSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "deploymentStatus",
        "environmentArn",
        "lastDeploymentAttemptTime",
        "lastSuccessfulDeploymentTime",
        "serviceInstanceName",
        "serviceName",
        "serviceTemplateArn",
        "templateMajorVersionId",
        "templateMinorVersionId"
      ],
      "members":{
        "arn":{"shape":"ServiceInstanceArn"},
        "createdAt":{"shape":"Timestamp"},
        "deploymentStatus":{"shape":"DeploymentStatus"},
        "deploymentStatusMessage":{"shape":"StatusMessage"},
        "environmentArn":{"shape":"EnvironmentArn"},
        "lastDeploymentAttemptTime":{"shape":"Timestamp"},
        "lastSuccessfulDeploymentTime":{"shape":"Timestamp"},
        "serviceInstanceName":{"shape":"ResourceName"},
        "serviceName":{"shape":"ResourceName"},
        "serviceTemplateArn":{"shape":"ServiceTemplateArn"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"}
      }
    },
    "ServiceInstancesList":{
      "type":"list",
      "member":{"shape":"ServiceInstanceSummary"}
    },
    "ServicePipelineDetails":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "deploymentStatus",
        "lastDeploymentAttemptTime",
        "lastSuccessfulDeploymentTime",
        "serviceTemplateArn",
        "templateMajorVersionId",
        "templateMinorVersionId"
      ],
      "members":{
        "arn":{"shape":"Arn"},
        "createdAt":{"shape":"Timestamp"},
        "deploymentStatus":{"shape":"DeploymentStatus"},
        "deploymentStatusMessage":{"shape":"StatusMessage"},
        "lastDeploymentAttemptTime":{"shape":"Timestamp"},
        "lastSuccessfulDeploymentTime":{"shape":"Timestamp"},
        "outputs":{"shape":"DeployedTemplateOutput"},
        "provisionedStacks":{"shape":"ProvisionedStacks"},
        "serviceTemplateArn":{"shape":"ServiceTemplateArn"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"}
      }
    },
    "ServiceStatus":{
      "type":"string",
      "enum":[
        "CREATE_STARTED",
        "CREATE_FAILED_CLEANUP_IN_PROGRESS",
        "CREATE_FAILED_CLEANUP_COMPLETE",
        "CREATE_FAILED_CLEANUP_FAILED",
        "CREATE_FAILED",
        "ACTIVE",
        "DELETE_STARTED",
        "DELETE_FAILED"
      ]
    },
    "ServiceSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "serviceName",
        "serviceTemplateArn",
        "status"
      ],
      "members":{
        "arn":{"shape":"ServiceArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "serviceName":{"shape":"ResourceName"},
        "serviceTemplateArn":{"shape":"ServiceTemplateArn"},
        "status":{"shape":"ServiceStatus"},
        "statusMessage":{"shape":"StatusMessage"}
      }
    },
    "ServiceTemplateArn":{"type":"string"},
    "ServiceTemplateData":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"ServiceTemplateArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "displayName":{"shape":"DisplayName"},
        "encryptionKey":{"shape":"Arn"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "recommendedVersion":{"shape":"FullTemplateVersionNumber"},
        "status":{"shape":"TemplateStatus"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ServiceTemplateMajorVersionArn":{"type":"string"},
    "ServiceTemplateMajorVersionData":{
      "type":"structure",
      "required":[
        "arn",
        "compatibleEnvironmentTemplateMajorVersionArns",
        "createdAt",
        "lastModifiedAt",
        "majorVersionId",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"ServiceTemplateMajorVersionArn"},
        "compatibleEnvironmentTemplateMajorVersionArns":{"shape":"EnvironmentTemplateMajorVersionArnList"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "status":{"shape":"TemplateMajorVersionStatus"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ServiceTemplateMajorVersionsList":{
      "type":"list",
      "member":{"shape":"ServiceTemplateMajorVersionData"}
    },
    "ServiceTemplateMinorVersionArn":{"type":"string"},
    "ServiceTemplateMinorVersionDetails":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "majorVersionId",
        "minorVersionId",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"ServiceTemplateMinorVersionArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "schema":{"shape":"TemplateSchema"},
        "status":{"shape":"TemplateMinorVersionStatus"},
        "statusMessage":{"shape":"StatusMessage"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ServiceTemplateMinorVersionSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "lastModifiedAt",
        "majorVersionId",
        "minorVersionId",
        "status",
        "templateName"
      ],
      "members":{
        "arn":{"shape":"ServiceTemplateMinorVersionArn"},
        "createdAt":{"shape":"Timestamp"},
        "description":{"shape":"Description"},
        "lastModifiedAt":{"shape":"Timestamp"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "status":{"shape":"TemplateMinorVersionStatus"},
        "statusMessage":{"shape":"StatusMessage"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "ServiceTemplateMinorVersionsList":{
      "type":"list",
      "member":{"shape":"ServiceTemplateMinorVersionSummary"}
    },
    "ServiceTemplatesList":{
      "type":"list",
      "member":{"shape":"ServiceTemplateData"}
    },
    "ServicesList":{
      "type":"list",
      "member":{"shape":"ServiceSummary"}
    },
    "SpecContents":{
      "type":"string",
      "max":51200,
      "min":1,
      "sensitive":true
    },
    "StatusMessage":{
      "type":"string",
      "sensitive":true
    },
    "TemplateMajorVersionStatus":{
      "type":"string",
      "enum":[
        "DRAFT",
        "PUBLISHED"
      ]
    },
    "TemplateMinorVersionStatus":{
      "type":"string",
      "enum":[
        "REGISTRATION_IN_PROGRESS",
        "REGISTRATION_FAILED",
        "DRAFT",
        "PUBLISHED"
      ]
    },
    "TemplateSchema":{
      "type":"string",
      "max":51200,
      "min":1,
      "sensitive":true
    },
    "TemplateStatus":{
      "type":"string",
      "enum":[
        "DRAFT",
        "PUBLISHED"
      ]
    },
    "TemplateVersionPart":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"^(0|([1-9]{1}\\d*))$"
    },
    "ThrottledException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateAccountRolesInput":{
      "type":"structure",
      "required":["accountRoleDetails"],
      "members":{
        "accountRoleDetails":{"shape":"AccountRolesDetails"}
      }
    },
    "UpdateAccountRolesOutput":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateEnvironmentInput":{
      "type":"structure",
      "required":[
        "environmentName",
        "versionUpdateType"
      ],
      "members":{
        "description":{"shape":"Description"},
        "environmentName":{"shape":"ResourceName"},
        "protonServiceRoleArn":{"shape":"Arn"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"},
        "versionUpdateType":{"shape":"VersionUpdateType"}
      }
    },
    "UpdateEnvironmentOutput":{
      "type":"structure",
      "required":["environment"],
      "members":{
        "environment":{"shape":"EnvironmentSummary"}
      }
    },
    "UpdateEnvironmentTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "description":{"shape":"Description"},
        "displayName":{"shape":"DisplayName"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "UpdateEnvironmentTemplateMajorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "templateName"
      ],
      "members":{
        "description":{"shape":"Description"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "UpdateEnvironmentTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMajorVersion"],
      "members":{
        "environmentTemplateMajorVersion":{"shape":"EnvironmentTemplateMajorVersionData"}
      }
    },
    "UpdateEnvironmentTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "minorVersionId",
        "templateName"
      ],
      "members":{
        "description":{"shape":"Description"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "status":{"shape":"TemplateMinorVersionStatus"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "UpdateEnvironmentTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["environmentTemplateMinorVersion"],
      "members":{
        "environmentTemplateMinorVersion":{"shape":"EnvironmentTemplateMinorVersionSummary"}
      }
    },
    "UpdateEnvironmentTemplateOutput":{
      "type":"structure",
      "required":["environmentTemplate"],
      "members":{
        "environmentTemplate":{"shape":"EnvironmentTemplateData"}
      }
    },
    "UpdateServiceInput":{
      "type":"structure",
      "required":["serviceName"],
      "members":{
        "description":{"shape":"Description"},
        "serviceName":{"shape":"ResourceName"}
      }
    },
    "UpdateServiceInstanceInput":{
      "type":"structure",
      "required":[
        "serviceInstanceName",
        "serviceName",
        "versionUpdateType"
      ],
      "members":{
        "serviceInstanceName":{"shape":"ResourceName"},
        "serviceName":{"shape":"ResourceName"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"},
        "versionUpdateType":{"shape":"VersionUpdateType"}
      }
    },
    "UpdateServiceInstanceOutput":{
      "type":"structure",
      "required":["serviceInstance"],
      "members":{
        "serviceInstance":{"shape":"ServiceInstanceSummary"}
      }
    },
    "UpdateServiceOutput":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{"shape":"ServiceSummary"}
      }
    },
    "UpdateServicePipelineInput":{
      "type":"structure",
      "required":[
        "serviceName",
        "spec",
        "versionUpdateType"
      ],
      "members":{
        "serviceName":{"shape":"ResourceName"},
        "spec":{"shape":"SpecContents"},
        "templateMajorVersionId":{"shape":"TemplateVersionPart"},
        "templateMinorVersionId":{"shape":"TemplateVersionPart"},
        "versionUpdateType":{"shape":"VersionUpdateType"}
      }
    },
    "UpdateServicePipelineOutput":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{"shape":"ServiceDetails"}
      }
    },
    "UpdateServiceTemplateInput":{
      "type":"structure",
      "required":["templateName"],
      "members":{
        "description":{"shape":"Description"},
        "displayName":{"shape":"DisplayName"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "UpdateServiceTemplateMajorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "templateName"
      ],
      "members":{
        "compatibleEnvironmentTemplateMajorVersionArns":{"shape":"EnvironmentTemplateMajorVersionArnList"},
        "description":{"shape":"Description"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "UpdateServiceTemplateMajorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMajorVersion"],
      "members":{
        "serviceTemplateMajorVersion":{"shape":"ServiceTemplateMajorVersionData"}
      }
    },
    "UpdateServiceTemplateMinorVersionInput":{
      "type":"structure",
      "required":[
        "majorVersionId",
        "minorVersionId",
        "templateName"
      ],
      "members":{
        "description":{"shape":"Description"},
        "majorVersionId":{"shape":"TemplateVersionPart"},
        "minorVersionId":{"shape":"TemplateVersionPart"},
        "status":{"shape":"TemplateMinorVersionStatus"},
        "templateName":{"shape":"ResourceName"}
      }
    },
    "UpdateServiceTemplateMinorVersionOutput":{
      "type":"structure",
      "required":["serviceTemplateMinorVersion"],
      "members":{
        "serviceTemplateMinorVersion":{"shape":"ServiceTemplateMinorVersionSummary"}
      }
    },
    "UpdateServiceTemplateOutput":{
      "type":"structure",
      "required":["serviceTemplate"],
      "members":{
        "serviceTemplate":{"shape":"ServiceTemplateData"}
      }
    },
    "VersionUpdateType":{
      "type":"string",
      "enum":[
        "NO_DEPLOY",
        "UPDATE_SPEC",
        "MINOR_VERSION",
        "MAJOR_VERSION"
      ]
    }
  }
}
